<?xml version="1.0"?>
<!-- This is a launch file that run all essential parts of crazyflie platform -->
<launch>

    <!-- Nodelet-->
    <node pkg="nodelet" type="nodelet" name="CriticalNodes"  args="manager" output="screen"/>

    <!-- Vicon Mapping & Estimator -->
    <node pkg="nodelet" type="nodelet" name="ViconBridge"
          args="load ViconReceiverNodelet CriticalNodes" output="screen">
        <param name="stream_mode" value="ClientPull" type="str" />
        <param name="datastream_hostport" value="10.157.163.191:801" type="str" />
    </node>

    <!--Launch our own state estimation on top of it-->
	<node name="state_estimation" pkg="vicon_bridge" type="vicon.py" output="screen" required="True">
        <param name="model" value="cf23" type="str" />
    </node>

</launch>
